<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Colégios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Colegios</ion-title>
    </ion-toolbar>
  </ion-header>
  <button (click)="toggleSchoolFormList()" [innerText]="toggleSchoolFormListLabel()"></button>
  <div *ngIf="isDisplayList()" school-list>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div school-item padding *ngFor="let colegio of getSchools()">
            {{ colegio.id}} - {{ colegio.name }}
            <ion-icon title="Buscar Turmas" name="refresh-outline" (click)="loadClasses(colegio.id)"></ion-icon>
            <ion-icon title="Nova Turma" name="add"></ion-icon>

            <div school-classes *ngFor="let turma of getClasses(colegio.id)">
              <div> {{ turma.id}} - {{ turma.name }}
                <ion-icon title="Remover Turma" name="trash-outline"></ion-icon>
                <ion-icon title="Editar Colegio" name="document-outline"></ion-icon>
              </div>
            </div>
          </div>
          <div>
            <button [disabled]="hasDisplayAllSchools()" (click)="scrollMore()">Mais</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <form *ngIf="isDisplayForm()" school-form #form="ngForm" (ngSubmit)="addSchool(form)">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="name" type="text" placeholder="School Name" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" expand="block" type="submit" [disabled]="form.invalid">
              Add
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>