<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Colégios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Colegios</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="toggleSchoolFormList()" [innerText]="toggleSchoolFormListLabel()"></ion-button>
  <div *ngIf="isDisplayList()" school-list>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div school-item padding>
            <ion-grid>
              <ion-row>
                <ion-col bordered>
                  <div>ID</div>
                </ion-col>
                <ion-col bordered>
                  <div>Nome</div>
                </ion-col>
                <ion-col bordered>
                  <div>Ações</div>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let colegio of getSchools()">
                <ion-col bordered>
                  <div>
                    {{ colegio.id}}
                  </div>
                </ion-col>
                <ion-col bordered>
                  <div>
                    {{ colegio.name }}
                  </div>
                </ion-col>
                <ion-col bordered>
                  <div>
                    <ion-icon title="Buscar Turmas" name="search" (click)="loadClasses(colegio.id)"></ion-icon>
                    <ion-icon title="Nova Turma" name="add"></ion-icon>
                  </div>
                </ion-col>
                <ion-col bordered size="12">
                  <ion-row school-classes *ngFor="let turma of getClasses(colegio.id)">
                    <ion-col bordered>
                      <div>
                        {{ turma.id}}
                      </div>
                    </ion-col>
                    <ion-col bordered>
                      <div>
                        {{ turma.name }}
                      </div>
                    </ion-col>
                    <ion-col bordered>
                      <div>
                        <ion-icon title="Remover Turma" name="trash"></ion-icon>
                        <ion-icon title="Editar Turma" name="document"></ion-icon>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col bordered size="12">
                  <ion-button  size="medium" expand="block" [disabled]="hasDisplayAllSchools()" (click)="scrollMore()">Mais</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <form *ngIf="isDisplayForm()" school-form #form="ngForm" (ngSubmit)="addSchool(form)">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input name="name" type="text" placeholder="Nome da Escola" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="medium" expand="block" type="submit" [disabled]="form.invalid">
              Adicionar Escola
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>