<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prefeitura do Interior
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prefeitura do Interior</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Integração de Escolas</h1>

  <div padding>
    <h1>Login</h1>
    <form #form="ngForm" (ngSubmit)="submitForm(form)">
      <ion-grid>
        <div *ngIf="hasMsg()">
          <div class="msg"> {{msg}} </div>
        </div>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-input name="username" type="text" placeholder="Nome de usuário" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Senha" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">
                Login
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>