[school-list] {
    padding: 0.4rem 0;
    [school-item] {
        padding: 0.4rem 0.8rem;
        [school-header] {
            border: 1px solid #333;
            border-top-width: 4px;
        }
    }
}
[school-form] {
    padding: 0.2vw;
}
[school-classes] {
    margin: 0.5rem 1rem;
    border: 1px solid #333;
    padding: 0.2rem 0.7rem;
}
ion-icon {
    cursor: pointer;
}
[bordered] {
    background: rgba(0, 0, 0, 0.1);
}
